body {
  --lightbackground: rgb(245, 248, 250);
  --lighttext: rgba(0, 0, 0, 0.877);
  --lightemph: rgb(14, 73, 95);
}


body, html {
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  rgb(245, 248, 250);
}

body {
  display: grid;
}

header {
  background-color: rgb(245, 248, 250);
  display: flex;
  justify-content: flex-end;
}


.nav_links li {
  display: inline-block;
  padding: 10px 20px;
}

.nav_links li:nth-last-child(1) {
  padding: 0px 3em 0px 20px;
}

p {
  font-size: min(4vmin, 1.6em);
  color: rgba(0, 0, 0, 0.877);
  margin: 0 8vmin 1em 8vmin;
}

span {
  font-size: min(4vmin, 1.6em);
  color: rgba(0, 0, 0, 0.877);
  padding: 0.2em 8vmin 0 8vmin;
}

h1 {
  font-size: min(9.5vmin, 3.5em);
  color: rgb(14, 73, 95);
  align-items: center;
  margin: 0 8vmin 0.5em 8vmin;
}

a:link {
  color: rgb(165, 58, 135);
}

/* visited link */
a:visited {
  color: rgb(14, 73, 95);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.friendlink {
  font-size: min(4vmin, 1.6em);
  margin: 0 1.3em 0 1.3em;
}

#main-text {
  padding: 0em 3em 3em 3em;
  place-items: center;
  background: rgb(245, 248, 250)
}

h2 {
  font-size: min(5vmin, 2.1em);
  font-weight: 600;
  padding: 0 0 0.5em 0;
  margin: 0 8vmin 0 8vmin;
  color: black;
}

#projectslist {
  padding: 0.5em 0 0 0;
  color: black;
  margin: 0;
  display: grid;
  grid-template: "." auto 
                 "." auto /
                 auto;
  grid-gap: 0.7em;
}

#friends {
  padding: 0;
  color: black;
}

#friendslist {
  margin: 0 8vmin 0 8vmin;
  padding: 0.5em 0 0 0;
  display: grid;
  grid-template: ".   .   ." auto 
                 ".   .   ." auto 
                 ".   .   ." auto /
                 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

#skills-list ul {
  margin: 0em 2em 0em 2em;
  font-size: min(4vmin, 1.6em);
}
