@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/pp-neue-montreal/ppneuemontreal-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/pp-neue-montreal/ppneuemontreal-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/pp-neue-montreal/ppneuemontreal-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/pp-neue-montreal/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/pp-neue-montreal/ppneuemontreal-semibolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/pp-neue-montreal/ppneuemontreal-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --light-background: #FAFCFF;
  --font-family: 'PP Neue Montreal', sans-serif;
  --font-size: 16px;
  --max-width: 48rem;
  --side-margin: 1rem;
  --header-padding: 1.5rem;
  --nav-gap: 1.5rem;
  --logo-size: 3rem;
  --headshot-size: 250px;
  --hover-color: #555;
  --link-color: rgb(14, 73, 95);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--light-background);
}

body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  padding: 0 var(--side-margin);
  box-sizing: border-box;
}

header {
  padding: var(--header-padding) 0;
  background-color: var(--light-background);
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: var(--logo-size);
  cursor: pointer;
  margin-right: var(--side-margin);
}

.nav-tabs {
  display: flex;
  gap: var(--nav-gap);
}

.nav-tabs a {
  text-decoration: underline;
  font-weight: normal;
}

.cv-link::after {
  content: " \2197"; 
  font-size: 0.9em;
}

main#main-text {
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
}

#author-card {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.headshot {
  width: var(--headshot-size);
  border-radius: 0;
}

#body-text {
  text-align: left;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  box-sizing: border-box;
}

p {
  margin-bottom: 1em;
  color: rgba(0, 0, 0, 0.877);
}

h1 {
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

a {
  color: var(--link-color);
  text-decoration: underline; 
}

a:hover {
  color: var(--hover-color);
}

a:hover, .toggle-abstract:hover {
  color: var(--hover-color);
}

.toggle-abstract {
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  color: black;
  transition: all 0.2s ease-in-out;
  width: 70px;
  font-size: 0.9rem;
}

.toggle-abstract:hover {
  background-color: black;
  color: white;
}

.abstract {
  display: none;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.95rem;
  color: rgba(0, 0, 0, 0.8);
}

.misc-item {
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.misc-item b {
  font-weight: 480;
}

.nowrap {
  white-space: nowrap;
}

footer {
  margin-top: 2.5rem;
  text-align: center;
  background-color: var(--light-background);
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}


@media (max-width: 768px) {
  .nav-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 0; 
    margin-top: 0;
  }

  .nav-tabs a {
    padding: 0.25rem 0.5rem;  
    font-size: 1rem;
    margin-bottom: 0; 
    text-align: right;  
  }

  .header-logo {
    margin-bottom: 0.5rem; 
    text-align: center;
  }

  header {
    margin-bottom: 0rem;
  }

  footer {
    padding-bottom: 2rem; 
  }
}