@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@600&display=swap');


body {
  --lightbackground: rgb(245, 248, 250);
  --lighttext: rgba(0, 0, 0, 0.877);
  --lightemph: rgb(14, 73, 95);
}


body, html {
  width: max(465px, 100%);
  height: 100%;
  font-family: 'IBM Plex Serif', serif;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 248, 250);
}

body {
  display: grid;
}

header {
  background-color: rgb(245, 248, 250);
  font-family: 'Nunito Sans', sans-serif;
  font-size: max(3vmin, 16px);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  width: 100%;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  padding: 0vmin 0vmin 0vmin min(50px, 5vmin);
}

.logo {
  cursor: pointer;
  display: table;
  max-width: 100%;
}

.nav_links ul {
  padding: 0em;
}

.nav_links li {
  display: inline-block;
  font-size: max(1.8vw, 16px);
  padding: 10px min(2vw, 20px);
}

.nav_links li:nth-last-child(1) {
  padding: 0px min(2vw, 3em) 0px min(2vw, 20px);
}

p {
  font-size: max(4vmin, 16px);
  color: rgba(0, 0, 0, 0.877);
  margin: 0 8vmin 1em 8vmin;
}

span {
  font-size: max(4vmin, 16px);
  color: rgba(0, 0, 0, 0.877);
  padding: 0.2em 8vmin 0 8vmin;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: max(9.5vmin, 28px);
  color: rgb(14, 73, 95);
  align-items: center;
  margin: 0 8vmin 0.5em 8vmin;
}

a:link {
  color: rgb(165, 58, 135);
}

/* visited link */
a:visited {
  color: rgb(14, 73, 95);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.friendlink {
  font-size: max(4vmin, 16px);
  margin: 0 1.3em 0 1.3em;
}

#main-text {
  padding: 3vmin 4vmin 2vmin 4vmin;
  place-items: center;
  background: rgb(245, 248, 250)
}

h2 {
  font-size: max(5vmin, 22px);
  font-weight: 600;
  padding: 1em 0 0.5em 0;
  margin: 0 8vmin 0 8vmin;
  color: black;
}

#projectslist {
  padding: 0.5em 0 0 0;
  color: black;
  margin: 0;
  display: grid;
  grid-template: "." auto 
                 "." auto /
                 auto;
  grid-gap: 0.7em;
}

#friends {
  padding: 0;
  color: black;
}

#friendslist {
  margin: 0 8vmin 0 8vmin;
  padding: 0.5em 0 0 0;
  display: grid;
  grid-template: ".   .   ." auto 
                 ".   .   ." auto 
                 ".   .   ." auto /
                 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

#skills-list ul {
  margin: 0em 2em 0em 2em;
  font-size: max(4vmin, 16px);
}

footer {
  text-align: center;
  background-color: rgb(245, 248, 250);
  font-family: 'Nunito Sans', sans-serif;
  font-size: max(4vmin, 16px);
}

footer ul {
  padding: 0;
}

footer li {
  display: inline-block;
  padding: 10px 20px;
}
